@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--main: #1b8ade;
	--border: #989797;
	--hover: #146bad;
	--link: #2473d2;
}

@theme {
	--font-inter: var(--font-inter), ui-sans-serif, system-ui;
	--font-kanit: var(--font-kanit), ui-sans-serif, system-ui;
	--color-main: var(--main);
	--color-border: var(--border);
	--color-hover: var(--hover);
	--color-link: var(--link);
	--breakpoint-xm: 824px;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		/*--background: #0a0a0a;*/
		/*--foreground: #ededed;*/
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter), sans-serif;
	@apply flex flex-col min-h-screen overflow-x-hidden overflow-y-auto;
}

body > main {
	@apply flex-1;
}

.container {
	@apply max-w-275 mx-auto px-4;
}
